* {
    margin: 0;
    font-family: 'Open Sans', serif;
}

.account {
    display: flex;
    justify-content: center;
    background-color: #D3D3D3;
    align-items: center;
    padding: 65px 0px;
}

.container-box-title {
    background-color: #ffffff;
    /*margin: 50px 50px;*/
    width: 600px;
    height: 500px;
    padding: 0px 50px;
}

.header-title {
    padding-top: 65px;
    padding-bottom: 49px;
}

.text {
    padding-bottom: 24px;
}

.txt {
    padding: 5px 50px 5px 5px;
}

.button-box {
    padding-top: 71px;
    border: none;
}

.button {
    background-color: #2156BD;
    width: 500px;
    height: 50px;
    border: none;

}

.sendConfirmation {
    color: #ffffff;
    background-color: #2156BD;
    border: none;
}

.sub-text{
    text-decoration: none;
    color: #989898;
    display: flex;
    padding-left: 150px;
}



